body{
	margin: 0;
	height: 100vh;
	background-image: url("../images/Sunset-from-parking-ramp.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
	-moz-box-sizing: border-box;
}

.container{
	height: 90vh;
	position: absolute;
	background-color: #0d162b;
	border-radius: 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb{
	background-color:  #000000;
}

/* Start SideBar */

.sidebar {
	/* background-color: #457B9D; */
	border-radius: 20px 0 0 20px;
	padding: 30px;
	overflow: auto;
	flex-shrink: 0;
}

.sidebar hr {
	margin: 10px 2px;
	border: 0.5px solid rgba(128, 128, 128, 0.486);
	border-radius: 2px;
}

.sidebar .logo{
	color: white;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
.sidebar .menu_group{
	position: relative;
}
.sidebar .menu_group a{
	text-decoration: none;
}

.sidebar .menu_group svg{
	width: 30px;
	height: 30px;
	display: inline;
	margin: 0;
	padding: 0;
}
.st0{fill:#6E6F7E;}
.st1{fill:#B0AEC9;}
.st2{font-family:'MyriadPro-Regular';}
.st3{font-size:9.2958px;}

.active_in{
	fill: white;
}
.active_out{
	fill: #F68B28;
}

.sidebar .menu_group h3:first-child{
	margin: 30px 0 5px 0;
	text-transform: uppercase;
}

.sidebar .menu_group ul{
	margin: 0;
	padding: 0;
	list-style: none;
	left: 0;
}
.sidebar .menu_group path{
	transition: 0.5s;
}
.sidebar .menu_group ul li{
	display: flex;
	left: 0;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	transition: 0.5s;
}
.sidebar .menu_group ul li h3{
	margin-left: 10px;
}
.sidebar .menu_group ul li:hover h3{
	color: white;
}

.sidebar .menu_group h3{
	color: #6e6f7e;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 15px;
	transition: 0.3s;
}

/* End SideBar */

/* Start Main */

.main{
	position: relative;
	width: 100%;
	margin: 20px;
	overflow: auto;
}
.main .header{
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
}
.main .header h3{
	margin: 0;
	color: white;
	text-transform: capitalize;
	font-size: 30px;
	margin: 20px 0;
}
.main .header .header_content{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.main .header .header_content .search{
	width: 50%;
}
.main .header .header_content .search input{
	border: 0;
	border-radius: 3px;
	background-color: #353340;
	padding: 10px 15px;
	width: 100%;
	outline: 0;
	color: #6e6f7e;
}



/* End Main */


/* Start Content */


/* .content{
	height: 100vh;
} */
/* end Content */




@media (max-width: 576px) {
	.container{
		width: 400px;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.container{
		width: 570px;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.container{
		width: 760px;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container{
		width: 990px;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container{
		width: 1190px;
	}
}